<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live CryptoBot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" >
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Live CryptoBot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trades List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <div class="container" id="chart-container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row" id="notifications-box">
            <div class="col-lg-12 col-sm-12 col-xs-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-xs-12">
                <!-- CHART -->
                <div id="chart">
                    <video class="video-item" poster="https://assets.awwwards.com/awards/external/2021/01/5ff82e7f5ad63686059879_static.jpeg" autoplay="" loop="" muted="" playsinline="" width="299" height="417"><source src="https://assets.awwwards.com/awards/external/2021/01/5ff82e7f5ad63686059879.mp4" type="video/mp4"></video>
                </div>
            </div>
        <div class="col-lg-3 col-sm-12 col-xs-12">
            <!-- INDICATORS -->
            <h2>Settings</h2>
            <div id="settings">
                <form action="/trade" method="post">
                    <div class="container">
                        <div class="row">
                            <input type="text" id="quantity" name="quantity" placeholder="0.00" />
                            <select name="symbol" id="symbol-select">
                                {% for symbol in symbols %}
                                    <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-12 gy-2">
                                <input type="checkbox" name="indicators[0]" value="RSI" />
                                <label for="RSI">RSI</label> <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#rsi_fields" aria-expanded="false" aria-controls="rsi_fields"><i class="bi bi-gear "></i></button>
                            </div>
                            <div class="col-12 gy-2">
                                <input type="checkbox" name="indicators[1]" value="GSSX" />
                                <label for="RSI">GSSX</label> <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#rsi_fields" aria-expanded="false" aria-controls="rsi_fields"><i class="bi bi-gear "></i></button>
                            </div>
                        </div>
                        <div class="row collapse" id="rsi_fields">
                            <div class="col-12">
                                <input type="text" class="rsi_field" id="rsi_period" name="rsi_period" placeholder="Period" value="14">
                                <input type="text" class="rsi_field" id="rsi_oversold" name="rsi_oversold" placeholder="Oversold" value="30">
                                <input type="text" class="rsi_field" id="rsi_overbought" name="rsi_overbought" placeholder="Overbought" value="70">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-12 gy-5 d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-primary" id="trade-button" name="action" value="trade">Trade</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <div></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <!-- SETTINGS -->
                <div id="settings">
                    <h2>Holdings</h2>
                    <div>
                        <table>
                            {% for balance in balances %}
                            <tr>
                                <td>{{ balance['asset'] }}</td>
                                <td>{{ balance['free'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <!-- LATEST TRADES -->
                <h2>Latest Trades</h2>
                <div>djisncojsbcoiwncn</div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <!-- STATS -->
                <h2>Stats</h2>
                <div>djisncojsbcoiwncn</div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='chart.js') }}" lang="javascript"></script>
    <script src="{{ url_for('static', filename='script.js') }}" lang="javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
